<div class="h-screen grid place-content-center bg-slate-100 px-6">
  <!-- app name -->
  <h1 class="mx-auto text-3xl lg:text-8xl font-extrabold mb-6 text-slate-600">
    <p class="inline-block first-letter:capitalize first-letter:text-green-400">
      frame
    </p>
    <p class="inline-block first-letter:capitalize first-letter:text-green-400">
      finder
    </p>
  </h1>
  <!-- subtitle -->
  <p
    class="text-center text-md lg:text-xl font-semibold text-slate-500 mb-12 px-4"
  >
    Effortlessly create custom video thumbnails with
    <span class="text-slate-600 font-bold italic">FrameFinder</span>
  </p>
  <!-- video -->
  <!-- Alert -->
  <app-alert [color]="alertColor">
    <!-- show while loading ffmpeg service -->
    <img
      src="../assets/icons/settings.svg"
      alt="loading service"
      class="animate-spin mx-auto h-8 bg-green-400 rounded-full inline-block mr-2"
      *ngIf="!ffmpegService.isReady"
    />
    <p class="inline-block">{{ alertMessage }}</p>
  </app-alert>

  <div class="grid grid-cols-1 place-items-center">
    <!-- video box -->
    <div
      app-event-blocker
      (dragover)="isDragover = true"
      (dragenter)="isDragover = true"
      (dragend)="isDragover = false"
      (dragleave)="isDragover = false"
      (dragleave)="isDragover = false"
      (drop)="storeFile($event)"
      id="video-frame"
      class="w-3/4 lg:max-w-4xl h-80 lg:w-full shadow-2xl rounded-lg transition relative aspect-video overflow-hidden"
      [ngClass]="{
        'bg-green-400 ring-2 ring-offset-4 ring-green-400': isDragover
      }"
    >
      <!-- video -->
      <video
        src=".mp4"
        preload="none"
        controls
        #videoPlayer
        class="video-js vjs-theme-forest"
        [ngClass]="{
          hidden: !isVideoInitialized
        }"
      ></video>
    </div>
    <div class="mt-6">
      <!-- file -->
      <input
        type="file"
        title="pick MP4 file"
        id="img"
        accept=".mp4"
        (change)="storeFile($event)"
        class="file:mx-4 outline-none m-2 file:px-4 file:py-2 file:rounded-full file:border-0 file:text-sm file:font-semibold file:italic file:bg-white file:text-green-400 hover:file:bg-green-400 hover:file:text-white file:hover:shadow-lg file:hover:ring-2 file:hover:ring-white transition text-transparent"
      />
      <!-- download button -->
      <button
        class="mx-auto mr-2 px-4 py-2 text-md rounded-full text-green-400 uppercase font-bold bg-white transition"
        (click)="selectedScreenshot.length > 0 ? download() : false"
        [ngClass]="disableDownload"
        [disabled]="selectedScreenshot.length == 0"
      >
        download
      </button>
      <!-- button -->
      <button
        (click)="generate()"
        class="bg-green-400 text-white font-bold px-4 py-2 rounded-full ring-2 ring-white transition uppercase disabled:opacity-75"
        [ngClass]="disableIfGenOrNotStart"
        [disabled]="isGeneratingScreenshots || !file"
      >
        generate frames
      </button>
    </div>
  </div>

  <!-- screenshots -->
  <div
    class="flex overflow-x-auto space-x-4 mt-8 scrollbar-thumb-green-400 scrollbar-thin scrollbar-track-transparent"
  >
    <!-- placeholder while generating screenshots -->
    <div
      class="max-w-xs md:max-w-lg mx-auto mt-8"
      *ngIf="isGeneratingScreenshots"
    >
      <p class="text-green-400 font-semibold animate-pulse text-2xl">
        generating frames...
      </p>
    </div>
    <!-- screenshots raw -->
    <div
      *ngFor="let screenshot of screenshots"
      class="flex-shrink-0 max-w-xs md:max-w-lg border-4 lg:border-8"
      [ngClass]="{
        'border-green-400': selectedScreenshot == screenshot,
        'border-slate-200': selectedScreenshot != screenshot
      }"
    >
      <img
        [src]="screenshot | safeURL"
        alt="screenshot"
        (click)="selectedScreenshot = screenshot"
      />
    </div>
  </div>
</div>
<div class="bg-green-400 p-6">
  <p class="text-md font-semibold mb-4">
    developed by: <span class="italic font-bold text-md">CoderNadir</span>
  </p>
  <ul class="inline-flex space-x-4">
    <li>
      <a href="https://instagram.com/coderNadir" target="_blank">
        <img src="../assets/icons/instagram.svg" alt="" class="h-8" />
      </a>
    </li>
    <li>
      <a href="https://twitter.com/coderNadir" target="_blank">
        <img src="../assets/icons/twitter.svg" alt="" class="h-8" />
      </a>
    </li>
    <li>
      <a href="https://github.com/coderNadir" target="_blank">
        <img src="../assets/icons/github.svg" alt="" class="h-8" />
      </a>
    </li>
    <li>
      <a href="https://linkedin.com/in/coderNadir" target="_blank">
        <img src="../assets/icons/linkedin.svg" alt="" class="h-8" />
      </a>
    </li>
  </ul>
</div>
